/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *Custom Fonts
 *font-family: 'Gloria Hallelujah', cursive;
 *font-family: 'Lato', sans-serif;
 */

header a{
  background-color: grey;
  color: blue;
}

body {
  background-image: url("http://t.wallpaperweb.org/wallpaper/buildings/1920x1200/01860_sanfrancisco.jpg");
  background-size: cover;
  background-color: gainsboro;
  font-family: 'Lato', sans-serif;
}

form * {
  margin: 1% 2% 1%;
}

h2 + img {
  margin-left: 2%;
}

h3 {
  margin-left: 2%;
}


.navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.navbar li{
  float: right;
}
#logo{
  float: left;
  font-family: 'Gloria Hallelujah', cursive;
  color: white;
  font-size: 2em;
  padding-left: 20px;
  padding-bottom: 10px;
}
.navbar li a{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 22px 16px;
  text-decoration: none;
  height: 28px;

}
.navbar #name{
  color: white;
  text-align: center;
  padding: 22px 16px;
  text-decoration: none;
  float:right;
}
.navbar li a:hover {
    background-color: #111;
}
.content-container{
  width: 75%;
  margin: auto;
  background-color: AliceBlue;
}
.content-container > h1 {
  padding: 1% 1% 0;
  margin-bottom: 0%;
  border-bottom: 1px solid grey;
}
.content-container > h2{
  padding: 0% 1% 0;
  margin-top: 0%;
  padding-top: 5px;
}

.items-container{
  height: 500px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-shadow: 1px 1px 10px #999;
  margin-bottom: 3%;
  white-space: nowrap;
}

.items-container .item{
  height: 40%;
  width: 200px;
  border-radius: 25px;
  margin: 15px;
  background-color: gainsboro;
  padding: 10px;
  text-align: center;
  overflow-x: hidden;
}

.items-container .item img{
  height: 100px;
  width: 100px;
}

.item .button_to {
  width: 50%;
  float: left;
  display: inline;
  margin: 0px;
  padding: 0px;
}

.users_container{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: 1px 1px 10px #999;
}

.users_container .user_container{
  height: 40%;
  width: 200px;
  margin: 15px;
  background-color: grey;
  padding: 10px;
  text-align: center;
}

.users_container .user_container img{
  height: 100px;
  width: 100px;
}

img {
  height: 300px;
  width: 400px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  box-shadow: 3px 3px 5px #999;
}
.rentings_container{
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: 1px 1px 10px #999;
  overflow-y: scroll;
}
.rentings_container div{
  width: 100%;
  margin: 3px;
  padding: 5px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}
.user_details{
  float: left;
  padding-right: 250px;
}
